a h2,
a h3,
a p {
    margin: 0;
    padding: 0;
    font-family: 'GowunDodum-Regular';
}

body,
ul,
li,
a,
address,
p,
h2 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Cafe24SsurroundAir';
    color: black;
}

header {
    background: linear-gradient(to bottom, #f9f2e4 100px, #ffffff 100%) white;
    padding: 30px 0;

    .header-inner {
        /* background-color: aqua; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        margin: 0 50px;

        .mini {
            height: 150px;
            display: none;
        }

        .search-wrap {
            /* background-color: aqua; */
            display: flex;
            gap: 5px;
            width: 386.33px;

            .search-bar {
                border: 2px solid #e2dccf;
                display: flex;

                input {
                    width: 230px;
                    height: 40px;
                    border: none;
                    padding-left: 10px;
                }

                button {
                    width: 70px;
                    height: 40px;
                    background-color: #F9F2E4;
                    border: none;
                    font-weight: bold;
                }

                button:hover {
                    background-color: #d6d0c3;
                    cursor: pointer;
                }
            }
        }

        .logo {
            /* width: 150px; */
            height: 150px;
        }

        .hamburger {
            display: none;
            background: none;
            border: none;
            font-size: 35px;
            cursor: pointer;
        }

        ul {
            /* background-color: aqua; */
            height: 40px;
            display: flex;
            align-items: center;
            gap: 30px;

            li,
            a {
                color: black;
                font-weight: bold;
            }
        }
    }

    .header-intro {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2 {
        /* background-color: violet; */
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: 'GowunDodum-Regular';
    }

    p {
        /* background-color: coral; */
        margin-top: 5px;
        font-weight: bold;
        font-size: 20px;
        font-family: 'GowunDodum-Regular';
    }

    p:hover {
        text-decoration: underline;
        text-underline-offset: 6px;
    }

    a {
        color: black;
    }
}

aside {
    /* background-color: sandybrown; */
    padding: 30px 0;
    text-align: center;

    .container {
        overflow: hidden;
        max-width: 1000px;
        margin: 0 auto;
        /* position: relative; */
    }

    .carousel {
        /* background-color: greenyellow; */
        display: flex;
        max-width: 100%;
        transition: transform 0.5s;

        .carousel-wrap {
            background-color: #F9F2E4;
            border-radius: 15px;
            margin: 30px auto;
            height: auto;
            width: 100%;
            padding-bottom: 30px;

            .name {
                display: flex;
                align-items: center;
                justify-content: space-around;

                h3 {
                    width: 300px;
                    padding: 20px 0;
                }

                p {
                    width: 540px;
                    font-size: 25px;
                    font-weight: bold;
                }
            }

            .carousel-box {
                /* background-color: aqua; */
                width: 1000px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                img {
                    width: 350px;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 2px;
                }

                .text-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 15px;
                    height: 300px;
                    font-size: 20px;
                    padding: 20px;
                    text-align: left;

                    p {
                        /* background-color: orangered; */
                        overflow-y: auto;
                        word-break: keep-all;
                        height: 260px;
                        width: 500px;
                        font-size: 20px;
                        font-weight: lighter;
                    }

                    .date {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .btn {
        display: flex;
        gap: 30px;
        justify-content: center;

        button {
            background-color: transparent;
            font-size: 30px;
            border: none;
            cursor: pointer;
        }
    }
}

main {
    /* background-color: olive; */
    padding: 30px 0;
    text-align: center;

    ul {
        /* background-color: aquamarine; */
        max-width: 1300px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px 0;

        li {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/칠가이.webp);
            background-repeat: no-repeat;
            /* background-size: 100% auto; */
            background-size: cover;
            width: 250px;
            height: 350px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            text-align: start;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.4s;

            a {
                color: white;
                font-size: 17px;
                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.712);

                h3 {
                    font-size: 28px;
                    font-weight: bold;
                    word-break: keep-all;
                    margin-top: 20px;
                }
            }

            .btn {
                background-color: #eee;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                width: 90px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn:hover {
                background-color: rgb(190, 190, 190);
            }
        }
    }

    li:nth-of-type(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/얼음.png);
        background-size: contain;
        background-position: 0 69%;
    }

    li:nth-of-type(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/찌부.jpg);
    }

    li:nth-of-type(4) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/공주.png);
        background-size: contain;
        background-position: 0 100%;
    }

    li:nth-of-type(5) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/기세다.jpg);
        background-size: contain;
        background-position: 0 55%;
    }

    li:nth-of-type(6) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/퀸네버크라이.jpg);
        background-position: 0 30%;
    }

    li:nth-of-type(7) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/햄부기.png);
        background-position: 80%
    }

    li:nth-of-type(8) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/예나지금이나.jpg);
        background-position: 50% 0;
    }

    li:hover {
        cursor: pointer;
        transform: translateY(-30px);
    }
}

section {
    /* background-color: cadetblue; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    .event-wrap {
        max-width: 600px;
        margin-top: 20px;

        li {
            /* background-color: darkgoldenrod; */
            font-size: 20px;

            a {
                display: flex;
                margin-top: 30px;
                justify-content: space-evenly;
                align-items: center;
            }

            h3 {
                display: flex;
                margin: 0;
                width: 160px;
                height: 45px;
                align-items: center;
                justify-content: center;
                background-color: #F9F2E4;
                border: 1px solid #eee;
                border-radius: 50px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
            }
        }

        li:hover {
            h3 {
                background-color: #ebe2d2;
            }

            p {
                text-decoration: underline;
                text-underline-offset: 8px;
            }
        }
    }
}

footer {
    background-color: #F9F2E4;
    margin-top: 30px;
    padding: 30px 0;
    font-size: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;

    .footer-nav {
        margin-top: 20px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 200px);
        row-gap: 30px;
        font-size: 20px;
    }

    address {
        ul {
            margin-top: 20px;

            li {
                /* background-color: aqua; */
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}

/* 웹 폰트 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
}

/* 반응형 */
@media(max-width: 768px) {
    header {
        .header-inner {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .mini {
                display: block;
            }

            .logo {
                display: none;
            }

            .search-wrap {
                justify-content: center;
            }
        }

        .header-intro {
            margin-top: 80px;
            text-align: center;

            h2 {
                font-size: 24px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    aside {
        .container .carousel .carousel-box {
            flex-direction: column;
        }

        .name {
            flex-direction: column;
        }

        .carousel-box {
            /* background-color: orange; */
            width: 768px !important;
        }

        .btn {
            display: none;
        }
    }

    section {
        li {
            a {
                flex-direction: column;
                gap: 20px;
            }

            h3 {
                font-size: 18px;
            }

            p {
                display: none;
            }
        }
    }

    footer {
        text-align: center;
        font-size: 15px;
        width: 768px;
        flex-direction: column;

        .footer-nav {
            font-size: 17px;
            font-weight: bold;
            row-gap: 40px;
            margin: 40px auto 80px;
        }

        .footer-wrap .footer-nav{
            justify-content: center;
        }

        address {
            ul li {
                /* background-color: aqua; */
                margin-top: 30px;
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 425px) {
    header {
        .header-inner .search-wrap {
            display: none;
        }

        .header-inner .hamburger {
            display: block;
        }

        nav {
            /* display: none; */
            opacity: 0;
            transform: translateY(-10px);
            overflow: hidden;
            transition: all 0.6s;
        }

        nav.active {
            /* display: block; */
            opacity: 1;
            transform: translateY(0);
            overflow: visible;
        }

        nav ul {
            flex-direction: column;
            gap: 10px;
            padding-bottom: 50px;
        }

        .header-intro {
            h2 {
                /* background-color: aqua; */
                width: 250px;
                font-size: 20px;
            }

            p {
                font-size: 18px;
            }
        }
    }

    aside {
        .carousel-box {
            /* background-color: orange; */
            width: 425px !important;

            img {
                width: 200px !important;
            }

            .text-box {
                width: 230px !important;

                p {
                    width: 230px !important;
                }
            }
        }
    }

    footer {
        max-width: 425px;

        .footer-wrap {
            .footer-nav{
                grid-template-columns: repeat(2, 150px);
            }
        }

        .footer-nav.active {
            max-height: 1000px;
        }

        address{
            ul li{
                font-size: 15px;
            }
        }
    }
}