a h2,
a h3,
a p {
    margin: 0;
    padding: 0;
    font-family: 'GowunDodum-Regular';
}

body,
ul,
li,
a,
address,
p,
h2 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Cafe24SsurroundAir';
    color: black;
}

header {
    background: linear-gradient(to bottom, #f9f2e4 100px, #ffffff 100%) white;
    padding: 30px 0;

    .header-inner {
        /* background-color: aqua; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        margin: 0 50px;

        .search-wrap {
            /* background-color: aqua; */
            display: flex;
            gap: 5px;

            .mini {
                width: 50px;
                height: 40px;
                object-fit: contain;
                display: none;
            }

            .search-bar {
                border: 2px solid #e2dccf;
                display: flex;

                input {
                    width: 230px;
                    height: 40px;
                    border: none;
                    padding-left: 10px;
                }

                button {
                    width: 70px;
                    height: 40px;
                    background-color: #F9F2E4;
                    border: none;
                    font-weight: bold;
                }

                button:hover {
                    background-color: #d6d0c3;
                    cursor: pointer;
                }
            }
        }

        .logo {
            /* width: 150px; */
            height: 150px;
        }

        ul {
            /* background-color: aqua; */
            height: 40px;
            display: flex;
            align-items: center;
            gap: 30px;

            li,
            a {
                color: black;
                font-weight: bold;
            }
        }
    }

    .header-intro {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2 {
        /* background-color: violet; */
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: 'GowunDodum-Regular';
    }

    p {
        /* background-color: coral; */
        margin-top: 5px;
        font-weight: bold;
        font-size: 20px;
        font-family: 'GowunDodum-Regular';
    }

    a {
        color: black;
    }
}

aside {
    /* background-color: sandybrown; */
    padding: 30px 0;
    text-align: center;

    .container {
        overflow: hidden;
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }

    .carousel {
        display: flex;
        width: 100%;
        transition: transform 0.5s;

        .carousel-wrap {
            background-color: #F9F2E4;
            border-radius: 15px;
            margin: 30px auto;
            height: 450px;
            min-width: 1000px;

            h3 {
                display: inline-flex;
                gap: 50px;
                padding: 20px 0;
            }

            p {
                display: inline-flex;
                font-size: 25px;
                font-weight: bold;
            }

            .carousel-box {
                /* background-color: aqua; */
                width: 1000px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                img {
                    height: 320px;
                    width: 300px;
                    border-radius: 2px;
                }

                .text-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 15px;
                    height: 300px;
                    font-size: 20px;
                    padding: 20px;
                    text-align: left;

                    p {
                        /* background-color: orangered; */
                        overflow-y: auto;
                        word-break: keep-all;
                        height: 260px;
                        width: 500px;
                        font-size: 20px;
                        font-weight: lighter;
                    }

                    .date {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .btn {
        display: flex;
        gap: 30px;
        justify-content: center;

        button {
            background-color: transparent;
            font-size: 30px;
            border: none;
            cursor: pointer;
        }
    }
}

main {
    /* background-color: olive; */
    padding: 30px 0;
    text-align: center;

    ul {
        /* background-color: aquamarine; */
        max-width: 1300px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px 0;

        li {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/mz.jpg);
            background-repeat: no-repeat;
            /* background-size: 100% auto; */
            background-size: cover;
            width: 250px;
            height: 350px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            text-align: start;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.4s;

            a {
                color: white;
                font-size: 17px;
                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.712);

                h3 {
                    font-size: 28px;
                    font-weight: bold;
                    word-break: keep-all;
                    margin-top: 20px;
                }
            }

            .btn {
                background-color: #eee;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                width: 90px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn:hover {
                background-color: rgb(190, 190, 190);
            }
        }
    }

    li:nth-of-type(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/아니근데.jpg);
        background-size: contain;
        background-position: 0 69%;
    }

    li:nth-of-type(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/기세다.jpg);
        background-size: contain;
        background-position: 0 50%;
    }

    li:nth-of-type(4) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/받아주세요.jpg);
        background-size: contain;
        background-position: 0 70%;
    }

    li:nth-of-type(5) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/그림1.jpg);

    }

    li:nth-of-type(6) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/초밥.jpg);

    }

    li:nth-of-type(7) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/찌부.jpg);

    }

    li:nth-of-type(8) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image/하니.png);


    }

    li:hover {
        cursor: pointer;
        transform: translateY(-30px);
    }
}

section {
    /* background-color: cadetblue; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    .event-wrap {
        width: 600px;
        margin-top: 20px;

        li {
            /* background-color: darkgoldenrod; */
            font-size: 20px;

            a {
                display: flex;
                margin-top: 30px;
                justify-content: space-evenly;
                align-items: center;
            }

            h3 {
                display: flex;
                margin: 0;
                width: 160px;
                height: 45px;
                align-items: center;
                justify-content: center;
                background-color: #F9F2E4;
                border: 1px solid #eee;
                border-radius: 50px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
            }
        }
    }
}

footer {
    background-color: #F9F2E4;
    margin-top: 30px;
    padding: 30px 0;

    .footer-wrap {
        display: flex;
        gap: 30px;
        justify-content: center;
        padding-bottom: 10px;
    }

    .footer-nav {
        margin-top: 20px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 150px);
        row-gap: 10px;
        font-size: 20px;
    }

    address {
        ul {
            margin-top: 20px;

            li {
                /* background-color: aqua; */
                margin-top: 5px;
            }
        }
    }
}

/* 웹 폰트 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
}

/* 반응형 */
/* @media (max-width: 1120px) {
    .container {
        .carousel .carousel-wrap {
            height: auto;
            padding-bottom: 30px;
        }
    }

    .carousel-box {
        flex-direction: column;
    }
} */


@media(max-width:996px) {
    header {
        .logo {
            display: none;
        }

        .mini {
            display: block !important;
            /* 그냥하면 안먹음.. 우선순위 뭔데 */
        }
    }

    .footer-wrap {
        flex-direction: column;
        align-items: center;
    }
}

/* @media(max-width:870px) {
    .header-inner {
        flex-direction: column;
        gap: 30px;
        align-items: start;
    }
} */

@media (max-width: 768px) {
    .header-inner,
    .carousel-wrap,
    main ul,
    section .event-wrap {
        flex-direction: column;
        margin: 0 20px;
        width: 100%;
    }

    .carousel-box img {
        width: 100%;
        height: auto;
    }
}